<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="${request.matching.reverse('static', path=['css', 'bootstrap.css'])}" rel="stylesheet" />
    <link href="${request.matching.reverse('static', path=['css', 'weiwei.css'])}" rel="stylesheet" />
    <title><py:block name="title" /></title>
</head>
<body>
<div class="container">
    <py:if test="request.remote_user">
        <div class="btn-group editor_panel">
            <py:block name="editor_panel" />
        </div>
    </py:if>
    <py:block name="content">
        <h1 class="page-header"><py:block name="page_header" /></h1>
    </py:block>
</div>
</body>
</html>
